<html>
<head>
    <title>Remote Commands</title>
    <script src="https://unpkg.com/vue@2.4.2/dist/vue.js"></script>
</head>

<style>
    *, *:before, *:after {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        background: lightblue;
    }
    
    #buttons {
        padding: 5px;
        width: 100%;
        background: black;
        position: fixed;
        height: 30px;
        top: 0;
    }
    
    #logs {
        padding: 30px 10px 0;
        color: darkblue;
        margin: 0;
    }
    
    .log.err {
        color: darkred;
    }
    
</style>
<body>

<div id="app">
    <div id="buttons">
        <%= buttons %>
        <button v-on:click="scroll = !scroll">
            <span v-if="scroll">&#x2713;</span>
            Scroll
        </button>
    </div>
    <pre id="logs">
        <div v-for="log in logs" v-bind:class="{ log: true, err: log.t==='err' }">{{log.d}}</div>
    </pre>
</div>

<script>
    function runCommand (url) {
        let password = localStorage.getItem('password');
        options = {
            method: 'POST',
            headers: { 'content-type': 'application/json' },
            body: JSON.stringify({ password })
        }
        fetch(url, options);
    }
    
    let ws = new WebSocket('ws://localhost:8080');

    var logsEl = new Vue({
        el: '#app',
        data: {
            logs: [],
            scroll: true
        },
        updated: function () {
            if(this.scroll) {
                window.scrollTo(0,document.body.scrollHeight);
            }
        }
    })

    const MAX_DATA = 2000;

    ws.onmessage = (message) => {
        lines = JSON.parse(message.data);
        logsEl.logs = logsEl.logs.concat(lines);
        if (logsEl.logs.length > MAX_DATA) {
            logsEl.logs = logsEl.logs.slice(logsEl.logs.length - MAX_DATA);
        }
    }
    
</script>

</body>
</html>
